{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Event Scheduling Website</title>
        <!-- ================================
        Start CSS
        ================================= -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.css">
        {% block extend_header%}{%endblock%}
        <!-- ================================
        End CSS
        ================================= -->
    </head>  

    <body>
    
        {% include 'backend/partials/navbar.html' %}
        
    
        {% block content %}
        {% endblock %}
    
        {% include 'backend/partials/footer.html' %}
    
        <!-- ================================
        Start Scripts
        ================================= -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.js"></script>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
        {% block extend_footer %}{% endblock %}
        <!-- ================================
        End Scripts
        ================================= -->
    </body>
</html>